<div id="<%= dom_id g_cidade %>">
  <p>
    <strong>Nome fantasia:</strong>
    <%= g_cidade.nome_fantasia %>
  </p>

  <p>
    <strong>G estado:</strong>
    <%= g_cidade.g_estado_id %>
  </p>

</div>
