<div id="<%= dom_id a_unidade_treinamento %>">
  <p>
    <strong>Descricao:</strong>
    <%= a_unidade_treinamento.descricao %>
  </p>

  <p>
    <strong>A zona treinamento:</strong>
    <%= a_unidade_treinamento.a_zona_treinamento_id %>
  </p>

</div>
